<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
  </head>
  <body>
    <div class="container">
      
      <div>
      
      
	  
	  <form action="take_city" method="post" enctype="multipart/form-data">
		<h3 class="text-muted">Enter City</h3>
		<input type="text" name="city" placeholder="city" class= "	col-md-4"><br/><br/>
		<input type="submit" value="submit" class= "btn btn-primary">
	  </form> 
      </div>
    </div>
  </body>
</html>
