<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">Upload Images from your wardrobe</h3>
      </div>
      <hr/>
      <div>
      
      <form action="upload" method="post" enctype="multipart/form-data">
		<input type="file" name="file1" class= "btn-primary"><br /><br />
		<input type="file" name="file2" class= "btn-primary"><br /><br />
		<input type="file" name="file3" class= "btn-primary"><br /><br />
		<input type="file" name="file4" class= "btn-primary"><br /><br />
        <input type="submit" value="Upload" class= "btn btn-primary"><br /><br />
      </form>
	  
	  <!-- <form action="take_city" method="post" enctype="multipart/form-data">
		<h3 class="text-muted">Enter City</h3>
		<input type="text" name="city" placeholder="city"><br/><br/>
		<input type="submit" value="submit">
	  </form>  -->
      </div>
    </div>
  </body>
</html>
